beautifulsoup4==4.11.1
certifi==2023.7.22
cffi==1.14.1
idna==2.10
linkpreview==0.1.11
lxml==4.9.1
numpy==1.19.1
pandas==1.1.0
pycparser==2.20
PyQt5==5.15.0
PyQt5-sip==12.8.0
python-dateutil==2.8.1
PyInstaller==5.13.1
python-magic-bin==0.4.14
pytz==2020.1
requests==2.31.0
selenium==3.141.0
six==1.15.0
soupsieve==2.0.1
urllib3==1.26.18
chromedriver-autoinstaller==0.3.1
